	<div class="lifecycle">
		<div class="modal-header">
			<button type="button" class="close" ng-click="close()" aria-hidden="true">
				&times;
			</button>
			<div class="icon PD">&nbsp;</div>
			<h2 class="allCaps">{{data.pageTitle}}</h2>
		</div>
		<div class="modal-body">
			<div class="row modalRow">	
				<div class="modalRowContent">
					<p>{{data.pageSubTitle}}</p>
				</div>
			</div>
			<div class="row modalRow" id="bannerRow">	
				<div class="modalRowContent">
					<h2 id="bannerTitle">{{data.sectionTitle}}</h2>
					<div id="bannerWrapper">
						<div class="bannerTable">
							<div class="bannerCell idea">Idea</div>
							<div class="bannerCell explore">Explore</div>
							<div class="bannerCell validate">Validate</div>
							<div class="bannerCell grow">Grow</div>
							<div class="bannerCell sustain">Sustain</div>
							<div class="bannerCell retire">Retire</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row modalRow stagesRow">	
				<div class="modalRowContent">
					<div ng-repeat="section in data.sections" class="section">
						<div class="sectionTitleWrapper">
							<h3 class="{{section.id}}">{{section.title}}</h3>
						</div>
						<div class="sectionBoxes {{section.id}}">
							<div ng-repeat="box in section.boxes" class="box" ng-click="onBoxClick($event, box)">
								<div><span>{{box.fullTitle}}</span></div>
							</div>
						</div>
						<div class="sectionDescription">{{section.description}}</div>
					</div>
				</div>
			</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" ng-click="close()">Close</button>
		</div>
	</div>
 