	<div class="lifecycle">
		<div class="modal-header">
			<button type="button" class="close" ng-click="close()" aria-hidden="true">
				&times;
			</button>
			<div class="icon PD">&nbsp;</div>
			<h2 class="allCaps">{{data.pageTitle}}</h2>
		</div>
		<div class="modal-body">
			<div class="row modalRow">	
				<div class="modalRowContent">
					<p>{{data.pageSubTitle}}</p>
				</div>
			</div>
			<div class="row modalRow" id="bannerRow">	
				<div class="modalRowContent">
					<div id="bannerWrapper">
						<img id="banner" src="images/lifecycle_banner.jpg">
					</div>
				</div>
			</div>
			<div class="row modalRow stagesRow">	
				<div class="modalRowContent">
					<h4>{{data.sectionTitle}}</h4>
					<div ng-repeat="section in data.sections" class="section">
						<h5>{{section.title}}</h5>
						<div class="sectionBoxes">
							<div ng-repeat="box in section.boxes" class="box" ng-click="onBoxClick($event, box)">
								<div><span>{{box.label}}</span></div>
							</div>
						</div>
						<div class="sectionDescription">{{section.description}}</div>
					</div>
				</div>
			</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" ng-click="close()">Close</button>
		</div>
	</div>
 