/* line 10, ../sass/org_structure.scss */
.container {
  min-width: 360px;
}

/* line 14, ../sass/org_structure.scss */
* {
  font-family: "Open Sans" !important;
  font-size: 14px;
}

/* line 18, ../sass/org_structure.scss */
a:hover {
  text-decoration: none;
}

/* line 21, ../sass/org_structure.scss */
h1 {
  font-size: 1.75em;
}

/* line 22, ../sass/org_structure.scss */
h2 {
  font-size: 1.35em;
}

/* line 23, ../sass/org_structure.scss */
h3 {
  font-size: 1.15em;
}

/* line 25, ../sass/org_structure.scss */
img.no-resize {
  max-width: none;
}

/* line 26, ../sass/org_structure.scss */
img, area, map {
  outline: none;
}

/* line 29, ../sass/org_structure.scss */
.spaceBelow {
  margin-bottom: 1em;
}

/* line 32, ../sass/org_structure.scss */
.spaceAbove {
  margin-top: 1em;
}

/* line 35, ../sass/org_structure.scss */
.allCaps {
  text-transform: uppercase;
}

/* line 38, ../sass/org_structure.scss */
.tooltip-inner {
  max-width: 300px;
  min-width: 150px;
  font-size: 10px !important;
}

/* line 1, ../sass/_upper_content.scss */
#upperContent {
  position: relative;
  padding: 2em 1em 0;
  text-align: center;
}
/* line 5, ../sass/_upper_content.scss */
#upperContent h1, #upperContent h2, #upperContent h3 {
  text-transform: uppercase;
}
/* line 8, ../sass/_upper_content.scss */
#upperContent h1 {
  margin: 0;
  color: #205f9f;
}
/* line 12, ../sass/_upper_content.scss */
#upperContent h2 {
  margin-top: 0;
}
/* line 15, ../sass/_upper_content.scss */
#upperContent #resetButton {
  display: block;
  position: absolute;
  top: 1.5em;
  left: 1.5em;
  z-index: 1001;
  width: 50px;
  height: 50px;
  background: url("../images/reset.png") no-repeat;
  opacity: 0.15;
  cursor: pointer;
}
/* line 26, ../sass/_upper_content.scss */
#upperContent #resetButton:hover {
  opacity: 0.25;
}
/* line 29, ../sass/_upper_content.scss */
#upperContent #resetButton.ng-hide {
  opacity: 0;
}
/* line 32, ../sass/_upper_content.scss */
#upperContent #resetButton.ng-hide-add, #upperContent #resetButton.ng-hide-remove {
  transition: 0.25s ease-in-out all;
  display: block !important;
}
/* line 37, ../sass/_upper_content.scss */
#upperContent div.copy {
  display: table;
  height: 280px;
  padding: 1em;
}
/* line 41, ../sass/_upper_content.scss */
#upperContent div.copy div.copyRow {
  display: table-row;
}
/* line 43, ../sass/_upper_content.scss */
#upperContent div.copy div.copyRow div.copyCell {
  text-align: left;
  display: table-cell;
  vertical-align: middle;
}

/* line 52, ../sass/_upper_content.scss */
.copyWrapper {
  clear: both;
  position: relative;
}
/* line 55, ../sass/_upper_content.scss */
.copyWrapper .copyToggle {
  position: relative;
  font-size: 10px;
  padding: 2px 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
  float: right;
  border: 1px solid #fff;
  background: #bbbbbb;
  -moz-box-shadow: 0px 1px 3px 2px rgba(68, 68, 68, 0.3);
  -webkit-box-shadow: 0px 1px 3px 2px rgba(68, 68, 68, 0.3);
  box-shadow: 0px 1px 3px 2px rgba(68, 68, 68, 0.3);
  color: #fff;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
/* line 71, ../sass/_upper_content.scss */
.copyWrapper .copyToggle:hover {
  background: #7b7b7b;
}
/* line 75, ../sass/_upper_content.scss */
.copyWrapper .copy {
  display: none;
  position: relative;
  clear: left;
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  min-width: 300px;
}
/* line 82, ../sass/_upper_content.scss */
.copyWrapper .copy h1, .copyWrapper .copy h2 {
  margin-bottom: 0;
}
/* line 85, ../sass/_upper_content.scss */
.copyWrapper .copy p {
  margin-top: 1em;
}
/* line 88, ../sass/_upper_content.scss */
.copyWrapper .copy ul {
  margin: 0;
  padding: 0 1.5em;
  max-width: 600px;
}
/* line 94, ../sass/_upper_content.scss */
.copyWrapper .copy .iconKey li {
  display: inline-block;
  margin: 0 0 3px 0;
  padding: 0 1em 0 0;
  list-style-type: none;
  line-height: 20px;
  vertical-align: top;
  font-size: 0.75em;
  background-color: #e1e1e1;
  border-radius: 3px;
}
/* line 104, ../sass/_upper_content.scss */
.copyWrapper .copy .iconKey li div {
  display: inline-block;
  padding: 1px;
  border-radius: 3px;
  overflow: hidden;
  margin: 0 3px -6px 0;
  width: 24px;
  height: 21px;
  background-color: #959595;
}
/* line 113, ../sass/_upper_content.scss */
.copyWrapper .copy .iconKey li div span {
  display: block;
  width: 18px;
  height: 15px;
  float: left;
  margin: 2px;
  background-size: 100%;
  background-color: transparent;
}

/* line 46, ../sass/org_structure.scss */
#circleWrapper {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 350px;
}
/* line 51, ../sass/org_structure.scss */
#circleWrapper #mapShim {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 350px;
  height: 350px;
}
/* line 59, ../sass/org_structure.scss */
#circleWrapper #circleContainer {
  position: relative;
  width: 350px;
  height: 350px;
  left: 0;
  -webkit-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  overflow: hidden;
  padding: 0;
}
/* line 71, ../sass/org_structure.scss */
#circleWrapper .circleMask {
  position: absolute;
  width: 350px;
  height: 350px;
  top: 0;
  left: 0;
  z-index: 100;
  background: url("../images/circle_map_mask.png") 0 0;
}
/* line 81, ../sass/org_structure.scss */
#circleWrapper .circleMask.ng-hide-add, #circleWrapper .circleMask.ng-hide-remove {
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  display: block !important;
  opacity: 1;
}
/* line 87, ../sass/org_structure.scss */
#circleWrapper .circleMask.ng-hide {
  opacity: 0;
}
/* line 90, ../sass/org_structure.scss */
#circleWrapper .circleMask.transitioning {
  background: url("../images/circle_map_mask.png") 0 0 !important;
}

/* line 98, ../sass/org_structure.scss */
#wrapper.professional #circleContainer {
  -o-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* line 107, ../sass/org_structure.scss */
#wrapper.professional .projectColumn.professional h2 {
  background-color: #389552;
}
/* line 110, ../sass/org_structure.scss */
#wrapper.professional .projectColumn.higherEd h2 {
  background-color: #d39fa6;
}
/* line 113, ../sass/org_structure.scss */
#wrapper.professional .projectColumn.school h2 {
  background-color: #aacddf;
}

/* line 117, ../sass/org_structure.scss */
#wrapper.higherEd #circleContainer {
  -o-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  ms-transform: rotate(120deg);
  transform: rotate(120deg);
}
/* line 126, ../sass/org_structure.scss */
#wrapper.higherEd .projectColumn.professional h2 {
  background-color: #a0c7ab;
}
/* line 129, ../sass/org_structure.scss */
#wrapper.higherEd .projectColumn.higherEd h2 {
  background-color: #c52e43;
}
/* line 132, ../sass/org_structure.scss */
#wrapper.higherEd .projectColumn.school h2 {
  background-color: #aacddf;
}

/* line 136, ../sass/org_structure.scss */
#wrapper.school #circleContainer {
  -o-transform: rotate(-120deg);
  -webkit-transform: rotate(-120deg);
  -ms-transform: rotate(-120deg);
  ms-transform: rotate(-120deg);
  transform: rotate(-120deg);
}
/* line 145, ../sass/org_structure.scss */
#wrapper.school .projectColumn.professional h2 {
  background-color: #a0c7ab;
}
/* line 148, ../sass/org_structure.scss */
#wrapper.school .projectColumn.higherEd h2 {
  background-color: #d39fa6;
}
/* line 151, ../sass/org_structure.scss */
#wrapper.school .projectColumn.school h2 {
  background-color: #006da3;
}

/* line 156, ../sass/org_structure.scss */
#wrapper.northAmerica .circleMask {
  background: url("../images/circle_map_mask.png") -350px 0 !important;
}

/* line 161, ../sass/org_structure.scss */
#wrapper.growthVenture .circleMask {
  background: url("../images/circle_map_mask.png") -700px 0 !important;
}

/* line 166, ../sass/org_structure.scss */
#wrapper.core .circleMask {
  background: url("../images/circle_map_mask.png") -1050px 0 !important;
}

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */
@media (min-width: 721px) {
  /* line 179, ../sass/org_structure.scss */
  #circleWrapper {
    position: relative;
    display: block;
    float: left;
    margin-right: 2em;
  }

  /* line 185, ../sass/org_structure.scss */
  .copyWrapper {
    clear: none;
  }
  /* line 187, ../sass/org_structure.scss */
  .copyWrapper .copyToggle {
    display: none !important;
  }
  /* line 190, ../sass/org_structure.scss */
  .copyWrapper .copy {
    display: table !important;
    clear: none;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* line 200, ../sass/org_structure.scss */
  .projectColumns h2 {
    padding: 6px;
    font-size: 1.15em;
  }

  /* line 205, ../sass/org_structure.scss */
  .projectColumn.professional {
    padding-right: 0;
  }
  /* line 207, ../sass/org_structure.scss */
  .projectColumn.professional h2 {
    -webkit-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
  }

  /* line 214, ../sass/org_structure.scss */
  .projectColumn.higherEd {
    padding-left: 0;
  }
  /* line 216, ../sass/org_structure.scss */
  .projectColumn.higherEd h2 {
    -webkit-border-top-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    -webkit-border-top-right-radius: 8px;
    border-top-right-radius: 8px;
  }
}
/* Medium devices (desktops and up) */
@media (min-width: 992px) {
  /* line 228, ../sass/org_structure.scss */
  .projectColumns h2 {
    padding: 10px;
    font-size: 1.25em;
  }

  /* line 233, ../sass/org_structure.scss */
  .projectColumn.professional {
    padding-right: 0;
  }
  /* line 235, ../sass/org_structure.scss */
  .projectColumn.professional h2 {
    -webkit-border-top-left-radius: 10px !important;
    border-top-left-radius: 10px !important;
    -webkit-border-top-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
  }

  /* line 242, ../sass/org_structure.scss */
  .projectColumn.higherEd {
    padding-right: 0;
    padding-left: 0;
  }
  /* line 245, ../sass/org_structure.scss */
  .projectColumn.higherEd h2 {
    -webkit-border-top-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    -webkit-border-top-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
  }

  /* line 252, ../sass/org_structure.scss */
  .projectColumn.school {
    padding-left: 0;
  }
  /* line 254, ../sass/org_structure.scss */
  .projectColumn.school h2 {
    -webkit-border-top-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    -webkit-border-top-right-radius: 10px !important;
    border-top-right-radius: 10px !important;
  }

  /* line 261, ../sass/org_structure.scss */
  .hiddenAtLarge {
    /* Fix for IE10 clearing issue */
    display: none !important;
  }
}
/* Large devices (large desktops, 1200px and up) */
/* line 1, ../sass/_project_list.scss */
.projectColumns {
  margin-right: -1px;
  margin-left: -1px;
  background: #f1f1f1;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  padding-bottom: 4px;
}
/* line 11, ../sass/_project_list.scss */
.projectColumns .projectColumn {
  padding-right: 0;
  padding-left: 0;
}
/* line 14, ../sass/_project_list.scss */
.projectColumns .projectColumn h2 {
  display: block;
  margin: 0;
  padding: 10px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  border-right: 1px solid #fff;
}
/* line 26, ../sass/_project_list.scss */
.projectColumns .projectColumn:last-child h2 {
  border-right: none;
  margin-right: -1px;
}
/* line 32, ../sass/_project_list.scss */
.projectColumns .projectColumn.professional h2 {
  background-color: #389552;
}
/* line 37, ../sass/_project_list.scss */
.projectColumns .projectColumn.higherEd h2 {
  background-color: #c52e43;
}
/* line 42, ../sass/_project_list.scss */
.projectColumns .projectColumn.school h2 {
  background-color: #006da3;
}

/* line 50, ../sass/_project_list.scss */
.projectList {
  margin: 0;
  padding: 4px;
  line-height: 1em;
}
/* line 54, ../sass/_project_list.scss */
.projectList li {
  list-style-type: none;
  display: block;
  position: relative;
  float: left;
  font-size: 10px;
  width: 12.5%;
  min-width: 29px;
  max-width: 45px;
  text-align: center;
  padding: 1px;
}
/* line 66, ../sass/_project_list.scss */
.projectList li .projectLink {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 30px;
  font-size: 1000px;
  line-height: 30px;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 1px;
  cursor: pointer;
  text-align: center;
  background-color: #bbbbbb;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}
/* line 80, ../sass/_project_list.scss */
.projectList li .projectLink span {
  width: 100%;
  height: 40px;
}
/* line 84, ../sass/_project_list.scss */
.projectList li .projectLink:hover, .projectList li .projectLink.selected {
  border-color: white;
  background-color: #dadada;
  -moz-box-shadow: 0px 1px 3px 2px rgba(68, 68, 68, 0.5);
  -webkit-box-shadow: 0px 1px 3px 2px rgba(68, 68, 68, 0.5);
  box-shadow: 0px 1px 3px 2px rgba(68, 68, 68, 0.5);
  z-index: 900;
}
/* line 92, ../sass/_project_list.scss */
.projectList li .projectLink.selected {
  border-width: 2px;
  border-color: white;
  padding: 0;
}
/* line 97, ../sass/_project_list.scss */
.projectList li .projectLink:active {
  border-color: white;
  -moz-box-shadow: 0px 0px 2px 0px rgba(68, 68, 68, 0.5);
  -webkit-box-shadow: 0px 0px 2px 0px rgba(68, 68, 68, 0.5);
  box-shadow: 0px 0px 2px 0px rgba(68, 68, 68, 0.5);
  z-index: 900;
}

/* line 112, ../sass/_project_list.scss */
.CC {
  background: #bbbbbb url("../images/project_icon_CC.png") 50% 50% no-repeat;
}

/* line 115, ../sass/_project_list.scss */
.DD {
  background: #bbbbbb url("../images/project_icon_DD.png") 50% 50% no-repeat;
}

/* line 118, ../sass/_project_list.scss */
.EE {
  background: #bbbbbb url("../images/project_icon_EE.png") 50% 50% no-repeat;
}

/* line 121, ../sass/_project_list.scss */
.OL {
  background: #bbbbbb url("../images/project_icon_OL.png") 50% 50% no-repeat;
}

/* line 124, ../sass/_project_list.scss */
.NG {
  background: #bbbbbb url("../images/project_icon_NG.png") 50% 50% no-repeat;
}

/* line 129, ../sass/_project_list.scss */
.projectColumn.professional .projectLink.selected {
  border-color: #39ae59;
}

/* line 134, ../sass/_project_list.scss */
.projectColumn.higherEd .projectLink.selected {
  border-color: #d65062;
}

/* line 139, ../sass/_project_list.scss */
.projectColumn.school .projectLink.selected {
  border-color: #008fd6;
}

/* line 146, ../sass/_project_list.scss */
#wrapper.northAmerica .projectLink {
  background-color: #dadada;
}
/* line 148, ../sass/_project_list.scss */
#wrapper.northAmerica .projectLink:hover, #wrapper.northAmerica .projectLink.selected {
  background-color: gainsboro;
}
/* line 152, ../sass/_project_list.scss */
#wrapper.northAmerica .projectLink.northAmerica {
  background-color: #9a9a9a;
}
/* line 154, ../sass/_project_list.scss */
#wrapper.northAmerica .projectLink.northAmerica:hover, #wrapper.northAmerica .projectLink.northAmerica.selected {
  background-color: silver;
}
/* line 160, ../sass/_project_list.scss */
#wrapper.northAmerica.professional .projectColumn.professional .projectLink.northAmerica {
  background-color: #689e45;
}
/* line 162, ../sass/_project_list.scss */
#wrapper.northAmerica.professional .projectColumn.professional .projectLink.northAmerica:hover, #wrapper.northAmerica.professional .projectColumn.professional .projectLink.northAmerica.selected {
  background-color: #afca9e;
}
/* line 170, ../sass/_project_list.scss */
#wrapper.northAmerica.higherEd .projectColumn.higherEd .projectLink.northAmerica {
  background-color: #dd3b48;
}
/* line 172, ../sass/_project_list.scss */
#wrapper.northAmerica.higherEd .projectColumn.higherEd .projectLink.northAmerica:hover, #wrapper.northAmerica.higherEd .projectColumn.higherEd .projectLink.northAmerica.selected {
  background-color: #e4949b;
}
/* line 180, ../sass/_project_list.scss */
#wrapper.northAmerica.school .projectColumn.school .projectLink.northAmerica {
  background-color: #0088b7;
}
/* line 182, ../sass/_project_list.scss */
#wrapper.northAmerica.school .projectColumn.school .projectLink.northAmerica:hover, #wrapper.northAmerica.school .projectColumn.school .projectLink.northAmerica.selected {
  background-color: #2fb2df;
}

/* line 190, ../sass/_project_list.scss */
#wrapper.growthVenture .projectLink {
  background-color: #dadada;
}
/* line 192, ../sass/_project_list.scss */
#wrapper.growthVenture .projectLink:hover, #wrapper.growthVenture .projectLink.selected {
  background-color: gainsboro;
}
/* line 196, ../sass/_project_list.scss */
#wrapper.growthVenture .projectLink.growthVenture {
  background-color: #9a9a9a;
}
/* line 199, ../sass/_project_list.scss */
#wrapper.growthVenture .projectLink.growthVenture:hover, #wrapper.growthVenture .projectLink.growthVenture.selected {
  background-color: silver;
}
/* line 205, ../sass/_project_list.scss */
#wrapper.growthVenture.professional .projectColumn.professional .projectLink.growthVenture {
  background-color: #689e45;
}
/* line 207, ../sass/_project_list.scss */
#wrapper.growthVenture.professional .projectColumn.professional .projectLink.growthVenture:hover, #wrapper.growthVenture.professional .projectColumn.professional .projectLink.growthVenture.selected {
  background-color: #afca9e;
}
/* line 215, ../sass/_project_list.scss */
#wrapper.growthVenture.higherEd .projectColumn.higherEd .projectLink.growthVenture {
  background-color: #dd3b48;
}
/* line 217, ../sass/_project_list.scss */
#wrapper.growthVenture.higherEd .projectColumn.higherEd .projectLink.growthVenture:hover, #wrapper.growthVenture.higherEd .projectColumn.higherEd .projectLink.growthVenture.selected {
  background-color: #e4949b;
}
/* line 225, ../sass/_project_list.scss */
#wrapper.growthVenture.school .projectColumn.school .projectLink.growthVenture {
  background-color: #0088b7;
}
/* line 227, ../sass/_project_list.scss */
#wrapper.growthVenture.school .projectColumn.school .projectLink.growthVenture:hover, #wrapper.growthVenture.school .projectColumn.school .projectLink.growthVenture.selected {
  background-color: #2fb2df;
}

/* line 235, ../sass/_project_list.scss */
#wrapper.core .projectLink {
  background-color: #dadada;
}
/* line 237, ../sass/_project_list.scss */
#wrapper.core .projectLink:hover, #wrapper.core .projectLink.selected {
  background-color: gainsboro;
}
/* line 241, ../sass/_project_list.scss */
#wrapper.core .projectLink.core {
  background-color: #9a9a9a;
}
/* line 243, ../sass/_project_list.scss */
#wrapper.core .projectLink.core:hover, #wrapper.core .projectLink.core.selected {
  background-color: silver;
}
/* line 249, ../sass/_project_list.scss */
#wrapper.core.professional .projectColumn.professional .projectLink.core {
  background-color: #689e45;
}
/* line 251, ../sass/_project_list.scss */
#wrapper.core.professional .projectColumn.professional .projectLink.core:hover, #wrapper.core.professional .projectColumn.professional .projectLink.core.selected {
  background-color: #afca9e;
}
/* line 259, ../sass/_project_list.scss */
#wrapper.core.higherEd .projectColumn.higherEd .projectLink.core {
  background-color: #dd3b48;
}
/* line 261, ../sass/_project_list.scss */
#wrapper.core.higherEd .projectColumn.higherEd .projectLink.core:hover, #wrapper.core.higherEd .projectColumn.higherEd .projectLink.core.selected {
  background-color: #e4949b;
}
/* line 269, ../sass/_project_list.scss */
#wrapper.core.school .projectColumn.school .projectLink.core {
  background-color: #0088b7;
}
/* line 271, ../sass/_project_list.scss */
#wrapper.core.school .projectColumn.school .projectLink.core:hover, #wrapper.core.school .projectColumn.school .projectLink.core.selected {
  background-color: #2fb2df;
}

/* line 4, ../sass/_modal.scss */
.modal {
  display: block;
  height: 0;
  position: absolute;
  overflow: visible;
}

/* ==================================
 * Override Bootstrap styles 
 * ================================ */
@media screen and (min-width: 768px) {
  /* line 16, ../sass/_modal.scss */
  .modal-dialog {
    width: auto;
    padding: 1em 3em;
    margin-bottom: 1em;
  }
}
/* line 23, ../sass/_modal.scss */
.modal-backdrop.in {
  opacity: 0.75;
  filter: alpha(opacity=75);
}

/* line 28, ../sass/_modal.scss */
.modal-header {
  min-height: 16.428571429px;
  padding: 1em 1.5em;
}

/* line 34, ../sass/_modal.scss */
.modal-header .close {
  margin-top: -2px;
}

/* line 37, ../sass/_modal.scss */
.modal-body {
  background-color: #f1f1f1;
  padding: 0 1.5em;
}

/* line 41, ../sass/_modal.scss */
.modal-footer {
  margin-top: 0;
  padding: 0.5em;
}

/* ================================== */
/* line 49, ../sass/_modal.scss */
.modal-header .icon {
  display: none;
  width: 55px;
  height: 48px;
  float: left;
  margin-left: 20px;
}
/* line 55, ../sass/_modal.scss */
.modal-header .icon.CC {
  background: url("../images/project_icons_lg.png") 0 0;
}
/* line 58, ../sass/_modal.scss */
.modal-header .icon.DD {
  background: url("../images/project_icons_lg.png") -55px 0;
}
/* line 61, ../sass/_modal.scss */
.modal-header .icon.EE {
  background: url("../images/project_icons_lg.png") -110px 0;
}
/* line 64, ../sass/_modal.scss */
.modal-header .icon.OL {
  background: url("../images/project_icons_lg.png") -165px 0;
}
/* line 67, ../sass/_modal.scss */
.modal-header .icon.NG {
  background: url("../images/project_icons_lg.png") -220px 0;
}
/* line 72, ../sass/_modal.scss */
.modal-header h2 {
  font-size: 1.65em;
  color: #205f9f;
  line-height: 48px;
  vertical-align: middle;
  margin: 0;
}

/* line 81, ../sass/_modal.scss */
.modalRow {
  clear: both;
  background: url("../images/modal_divider.png") top left no-repeat;
  background-size: 100% 6px;
  margin-right: -20px;
  margin-left: -20px;
}
/* line 87, ../sass/_modal.scss */
.modalRow.footerRow {
  background-color: #d7d7d7;
}
/* line 90, ../sass/_modal.scss */
.modalRow .icon {
  display: none;
  float: left;
  width: 105px;
  height: 87px;
  margin-left: 1em;
  background: url("../images/modal_divider_icon_bg.png") top left no-repeat;
}
/* line 97, ../sass/_modal.scss */
.modalRow .icon div {
  width: 105px;
  height: 87px;
}
/* line 100, ../sass/_modal.scss */
.modalRow .icon div.lead {
  background: url("../images/modal_divider_icons.png") 0 0 no-repeat;
}
/* line 103, ../sass/_modal.scss */
.modalRow .icon div.results {
  background: url("../images/modal_divider_icons.png") -105px 0 no-repeat;
}
/* line 106, ../sass/_modal.scss */
.modalRow .icon div.partners {
  background: url("../images/modal_divider_icons.png") -210px 0 no-repeat;
}
/* line 109, ../sass/_modal.scss */
.modalRow .icon div.goals {
  background: url("../images/modal_divider_icons.png") -315px 0 no-repeat;
}
/* line 112, ../sass/_modal.scss */
.modalRow .icon div.resources {
  background: url("../images/modal_divider_icons.png") -420px 0 no-repeat;
}

/* line 118, ../sass/_modal.scss */
.modalRowContent {
  display: block;
  padding: 1.5em 4em 1.5em 1.5em;
}
/* line 121, ../sass/_modal.scss */
.modalRowContent h4 {
  margin: 0 0 0.5em 0;
  padding-top: 0.5em;
  text-transform: uppercase;
  color: #205f9f;
}
/* line 126, ../sass/_modal.scss */
.modalRowContent h4:first-child {
  padding-top: 0;
}
/* line 129, ../sass/_modal.scss */
.modalRowContent h4 span {
  font-size: inherit;
}
/* line 133, ../sass/_modal.scss */
.modalRowContent section {
  padding-left: 1.5em;
}
/* line 136, ../sass/_modal.scss */
.modalRowContent .sectionContent, .modalRowContent p {
  margin-bottom: 0.5em;
}
/* line 138, ../sass/_modal.scss */
.modalRowContent .sectionContent ol, .modalRowContent .sectionContent ul, .modalRowContent p ol, .modalRowContent p ul {
  padding-left: 1.5em;
}
/* line 140, ../sass/_modal.scss */
.modalRowContent .sectionContent ol li, .modalRowContent .sectionContent ul li, .modalRowContent p ol li, .modalRowContent p ul li {
  margin-bottom: 0.5em;
}
/* line 144, ../sass/_modal.scss */
.modalRowContent .sectionContent:last-child, .modalRowContent p:last-child {
  margin-bottom: 0;
}
/* line 148, ../sass/_modal.scss */
.modalRowContent .indent {
  margin-left: 1.5em;
}
/* line 151, ../sass/_modal.scss */
.modalRowContent .tableWrapper {
  margin-top: 0;
  margin-bottom: 1em;
}
/* line 154, ../sass/_modal.scss */
.modalRowContent .tableWrapper .table {
  display: table;
  width: auto !important;
}
/* line 158, ../sass/_modal.scss */
.modalRowContent .tableWrapper .table.indent .td:first-child {
  padding-left: 1.5em;
}
/* line 163, ../sass/_modal.scss */
.modalRowContent .tableWrapper .tr {
  display: table-row;
}
/* line 166, ../sass/_modal.scss */
.modalRowContent .tableWrapper .td {
  display: table-cell;
}
/* line 168, ../sass/_modal.scss */
.modalRowContent .tableWrapper .td:first-child {
  padding: 0 0.5em 0 0;
}
/* line 171, ../sass/_modal.scss */
.modalRowContent .tableWrapper .td:last-child {
  padding: 0 0 0 0.5em;
}
/* line 174, ../sass/_modal.scss */
.modalRowContent .tableWrapper .td.tableVerticalDivider {
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  background-color: #b1b1b1;
  width: 1px;
  padding: 0;
}

@media (min-width: 768px) {
  /* line 187, ../sass/_modal.scss */
  .modal-dialog .icon {
    display: block !important;
  }
  /* line 191, ../sass/_modal.scss */
  .modal-dialog .modal-header h2, .modal-dialog .modal-header h3 {
    margin-left: 110px !important;
  }
  /* line 195, ../sass/_modal.scss */
  .modal-dialog .modalRowContent {
    margin-left: 110px !important;
  }
}
/* line 276, ../sass/org_structure.scss */
.footer {
  background-color: #e1e1e1;
  text-align: center;
  padding: 0.75em;
  margin: 0 -1px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* line 283, ../sass/org_structure.scss */
.footer p {
  margin-bottom: 0;
}
/* line 286, ../sass/org_structure.scss */
.footer a {
  font-size: 0.85em;
}
/* line 289, ../sass/org_structure.scss */
.footer .counter {
  font-size: 0.85em;
}
