$higherEdColor1: #df4854;
$higherEdColor2: #c92f44;
$professionalColor1: #7cb557;
$professionalColor2: #3fa85c;
$schoolColor1: #0088b7;
$schoolColor2: #006da3;
$projectButtonBg: #bbbbbb;
$accentColor: #205F9F;

.container {
  min-width: 360px;
}

* {
  font-family: "Open Sans" !important;
  font-size: 14px;
}
a:hover {
 text-decoration: none;
}
h1 {font-size: 1.75em;}
h2 {font-size: 1.35em;}
h3 {font-size: 1.15em;}

img.no-resize { max-width: none; }
img, area, map {
  outline: none;
}
.spaceBelow {
  margin-bottom: 1em; 
}
.spaceAbove {
  margin-top: 1em; 
}
.allCaps {
  text-transform: uppercase;
}
.tooltip-inner {
  max-width: 300px;
  min-width: 150px;  
  font-size: 10px !important;
}

#upperContent {
  padding: 2em 1em;
  h1, h2, h3 {
   text-transform: uppercase;
  }
  h1 {
    margin: 0;
    color: $accentColor; 
  }
  h2 {
    margin-top: 0;
  }
  div.copy {
    display: table;
    height: 280px;
    padding: 1em;
    div.copyRow {
      display: table-row;
      div.copyCell {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
  #circleWrapper {
    position: relative;
    display: block;
    margin: 0 auto;
    #mapShim {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1000;
      width: 350px;
      height: 350px;
    }
    #circleContainer {
      position: relative;
      width: 350px;
      height: 350px;
      left: 0;
      -webkit-transition: all 0.75s ease-in-out;
      transition: all 0.75s ease-in-out;
      -webkit-transition-delay: 0.15s;
      transition-delay: 0.15s;
      overflow: hidden;
      padding: 0;
    }
    .circleMask {
      position: absolute;
      width: 350px;
      height: 350px;
      top: 0;
      left: 0;
      z-index: 100;
      background: url('../images/circle_map_mask.png') 0 0;
      // pointer-events: none;
      &.ng-hide-add,
      &.ng-hide-remove {
        -webkit-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
        display: block !important;
        opacity: 1;
      }
      &.ng-hide {
        opacity: 0;
      }
      &.transitioning {
        background: url('../images/circle_map_mask.png') 0 0 !important;
      }
    }
  }
}

#wrapper.professional {
  #circleContainer {
    -o-transform:      rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform:     rotate(0deg);
    ms-transform:     rotate(0deg);
    transform:         rotate(0deg);
    // -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0, M21=0, M22=1, SizingMethod='auto expand')";
  }
  .projectColumn.professional {
    h2 {background-color: $professionalColor2;}
  }
  .projectColumn.higherEd {
    h2 {background-color: desaturate(lighten($higherEdColor2, 25%), 25%);}
  }
  .projectColumn.school {
    h2 {background-color: desaturate(lighten($schoolColor2, 45%), 55%);}
  }
}
#wrapper.higherEd {
  #circleContainer {
    -o-transform:      rotate(120deg);
    -webkit-transform: rotate(120deg);
    -ms-transform:     rotate(120deg);
    ms-transform:     rotate(120deg);
    transform:         rotate(120deg);
    // -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=-0.5000000000000004, M12=-0.8660254037844384, M21=0.8660254037844384, M22=-0.5000000000000004, SizingMethod='auto expand')";
  }
  .projectColumn.professional {
    h2 {background-color: desaturate(lighten($professionalColor2, 30%), 20%);}
  }
  .projectColumn.higherEd {
    h2 {background-color: $higherEdColor2;}
  }
  .projectColumn.school {
    h2 {background-color: desaturate(lighten($schoolColor2, 45%), 55%);}
  }
}
#wrapper.school {
  #circleContainer {
    -o-transform:      rotate(-120deg);
    -webkit-transform: rotate(-120deg);
    -ms-transform:     rotate(-120deg);
    ms-transform:     rotate(-120deg);
    transform:         rotate(-120deg);
    // -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=-0.4999999999999998, M12=0.8660254037844387, M21=-0.8660254037844387, M22=-0.4999999999999998, SizingMethod='auto expand')";
  }
  .projectColumn.professional {
    h2 {background-color: desaturate(lighten($professionalColor2, 30%), 20%);}
  }
  .projectColumn.higherEd {
    h2 {background-color: desaturate(lighten($higherEdColor2, 25%), 25%);}
  }
  .projectColumn.school {
    h2 {background-color: $schoolColor2;}
  }
}

#wrapper.northAmerica {
  .circleMask {
    background: url('../images/circle_map_mask.png') -350px 0 !important;
  }
  .projectLink {
    background-color: lighten($projectButtonBg, 12%);
    &:hover { 
      background-color: darken($projectButtonBg, 0%); 
    } 
  }
  .projectLink.northAmerica {
    // border-color: darken($projectButtonBg, 50%);
    background-color: darken($projectButtonBg, 20%);
    &:hover { 
      background-color: darken($projectButtonBg, 35%); 
    } 
  }
  &.professional {
    .projectColumn.professional {
      .projectLink.northAmerica { 
        background-color: lighten($professionalColor1, 0%);
        &:hover { 
          background-color: darken($professionalColor1, 10%); 
        } 
      }
    }
  }
  &.higherEd {
    .projectColumn.higherEd {
      .projectLink.northAmerica {
        background-color: lighten($higherEdColor1, 0%);
        &:hover { 
          background-color: darken($higherEdColor1, 10%); 
        } 
      }
    }
  }
  &.school {
    .projectColumn.school {
      .projectLink.northAmerica {
        background-color: lighten($schoolColor1, 0%);
        &:hover { 
          background-color: darken($schoolColor1, 10%); 
        } 
      }
    }
  }
}
#wrapper.growthVenture {
  .circleMask {
    background: url('../images/circle_map_mask.png') -700px 0 !important;
  }
  .projectLink {
    background-color: lighten($projectButtonBg, 12%);
    &:hover { 
      background-color: darken($projectButtonBg, 0%); 
    } 
  }
  .projectLink.growthVenture {
    // border-color: darken($projectButtonBg, 50%);
    background-color: darken($projectButtonBg, 20%);
    &:hover { 
      background-color: darken($projectButtonBg, 35%); 
    } 
  }
  &.professional {
    .projectColumn.professional {
      .projectLink.growthVenture {
        background-color: lighten($professionalColor1, 0%);
        &:hover { 
          background-color: darken($professionalColor1, 10%); 
        } 
      }
    }
  }
  &.higherEd {
    .projectColumn.higherEd {
      .projectLink.growthVenture {
        background-color: lighten($higherEdColor1, 0%);
        &:hover { 
          background-color: darken($higherEdColor1, 10%); 
        } 
      }
    }
  }
  &.school {
    .projectColumn.school {
      .projectLink.growthVenture {
        background-color: lighten($schoolColor1, 0%);
        &:hover { 
          background-color: darken($schoolColor1, 10%); 
        } 
      }
    }
  }
}
#wrapper.core {
  .circleMask {
    background: url('../images/circle_map_mask.png') -1050px 0 !important;
  }
  .projectLink {
    background-color: lighten($projectButtonBg, 12%);
    &:hover { 
      background-color: darken($projectButtonBg, 0%); 
    } 
  }
  .projectLink.core {
    // border-color: darken($projectButtonBg, 50%);
    background-color: darken($projectButtonBg, 20%);
    &:hover { 
      background-color: darken($projectButtonBg, 35%); 
    } 
  }
  &.professional {
    .projectColumn.professional {
      .projectLink.core {
        background-color: lighten($professionalColor1, 0%);
        &:hover { 
          background-color: darken($professionalColor1, 10%); 
        } 
      }
    }
  }
  &.higherEd {
    .projectColumn.higherEd {
      .projectLink.core {
        background-color: lighten($higherEdColor1, 0%);
        &:hover { 
          background-color: darken($higherEdColor1, 10%); 
        } 
      }
    }
  }
  &.school {
    .projectColumn.school {
      .projectLink.core {
        background-color: lighten($schoolColor1, 0%);
        &:hover { 
          background-color: darken($schoolColor1, 10%); 
        } 
      }
    }
  }
}

.projectColumns {
  h2 {
    display: block;
    margin: 0;
    padding: 10px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #fff;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
  }
  .projectColumn.professional {
    h2 {
      -webkit-border-top-left-radius: 8px;
      border-top-left-radius: 8px;    
      -webkit-border-top-right-radius: 8px;
      border-top-right-radius: 8px;    
      background-color: $professionalColor2;
    }
  }
  .projectColumn.higherEd {
    h2 {
      background-color: $higherEdColor2;
    }
  }
  .projectColumn.school {
    h2 {
      background-color: $schoolColor2;
    }
  }
}

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */
.copyWrapper {
  clear: both;
  position: relative;
  .copyToggle {
    position: relative;
    font-size: 10px;
    padding: 2px 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
    float: right;
    border: 1px solid #fff;
    background: $projectButtonBg;
    -moz-box-shadow:    0px 1px 3px 2px rgba(68,68,68,0.3);
    -webkit-box-shadow: 0px 1px 3px 2px rgba(68,68,68,0.3);
    box-shadow:         0px 1px 3px 2px rgba(68,68,68,0.3);
    color: #fff;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    &:hover {
      background: darken($projectButtonBg, 25%);
    }
  }
  .copy {
    display: none;
    position: relative;
    clear: left;
    -webkit-transition:0.5s linear all;
    transition:0.5s linear all;
    h1, h2 {
      margin-bottom: 0;
    }
    p {
      margin-top: 1em;
    }
    .iconKey {
      li {
        display: inline-block;
        margin: 0 0 3px 0;
        padding: 0 1em 0 0;
        list-style-type: none;
        line-height: 20px;
        vertical-align: top;
        font-size: 0.75em;
        background-color: lighten($projectButtonBg, 15%);
        border-radius: 3px;
        div {
          display: inline-block;
          padding: 1px;
          border-radius: 3px;
          overflow: hidden;
          margin: 0 3px -6px 0;
          width: 24px;
          height: 21px;
          background-color: darken($projectButtonBg, 15%);
          span {
            display: block;
            width: 18px;
            height: 15px;
            float: left;
            margin: 2px;
            background-size: 100%;
            background-color: transparent;
          }
        }
      }
    }
    .counter {
      font-size: 0.85em;
    }
    // &.ng-hide {}
    // &.ng-hide-add, &.ng-hide-remove {
      // /* this needs to be here to make it visible during the animation
       // since the .ng-hide class is already on the element rendering
       // it as hidden. */
      // display:block!important;
    // }
  }
}

@media (min-width: 600px) {
  #circleWrapper {
    position: relative;
    display: block;
    float: left;
    margin-right: 2em;
  }
  .copyWrapper {
    clear: none;
    .copyToggle {
      display: none !important;
    }
    .copy {
      display: table !important;
      clear: none;
    }
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .projectColumns {
    h2 {
      padding: 6px;
      font-size: 1.15em;
    }
  }
  .projectColumn.professional {
    padding-right: 0;
    h2 {
      -webkit-border-top-left-radius: 8px;
      border-top-left-radius: 8px;    
      -webkit-border-top-right-radius: 0px !important;
      border-top-right-radius: 0px !important;    
    }
  }
  .projectColumn.higherEd {
    padding-left: 0;
    h2 {
      -webkit-border-top-left-radius: 0px !important;
      border-top-left-radius: 0px !important;    
      -webkit-border-top-right-radius: 8px;
      border-top-right-radius: 8px;    
    }
  }
}

/* Medium devices (desktops and up) */
@media (min-width: 992px) {
  .projectColumns {
    h2 {
      padding: 10px;
      font-size: 1.25em;
    }
  }
  .projectColumn.professional {
    padding-right: 0;
    h2 {
      -webkit-border-top-left-radius: 10px !important;
      border-top-left-radius: 10px !important;    
      -webkit-border-top-right-radius: 0px !important;
      border-top-right-radius: 0px !important;    
    }
  }
  .projectColumn.higherEd {
    padding-right: 0;
    padding-left: 0;
    h2 {
      -webkit-border-top-right-radius: 0px !important;
      border-top-right-radius: 0px !important;    
      -webkit-border-top-left-radius: 0px !important;
      border-top-left-radius: 0px !important;    
    }
  }
  .projectColumn.school {
    padding-left: 0;
    h2 {
      -webkit-border-top-left-radius: 0px !important;
      border-top-left-radius: 0px !important;    
      -webkit-border-top-right-radius: 10px !important;
      border-top-right-radius: 10px !important;    
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}

.projectList {
  margin: 0;
  padding: 2px 4px;
  line-height: 1em;
  li {
    list-style-type: none;
    display: block;
    position: relative;
    // overflow: hidden;
    float: left;
    font-size: 10px;
    width: 12.5%;
    min-width: 29px;
    max-width: 45px;
    text-align: center;
    padding: 1px;
    .projectLink {
      display: block;
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 30px;
      font-size: 1000px;
      line-height: 30px;
      border: 1px solid #fff;
      border-radius: 8px;
      padding: 0px;
      cursor: pointer;
      text-align: center;
      background-color: $projectButtonBg;
      span {
        width: 100%;
        height: 40px;
      }
      &:hover {
        border-color: lighten($projectButtonBg, 20%);
        background-color: darken($projectButtonBg, 25%);
        -moz-box-shadow:    0px 1px 3px 2px rgba(68,68,68,0.3);
        -webkit-box-shadow: 0px 1px 3px 2px rgba(68,68,68,0.3);
        box-shadow:         0px 1px 3px 2px rgba(68,68,68,0.3);
      }
      &:active {
        border-color: lighten($projectButtonBg, 100%);
        -moz-box-shadow:    0px 0px 2px 0px rgba(68,68,68,0.5);
        -webkit-box-shadow: 0px 0px 2px 0px rgba(68,68,68,0.5);
        box-shadow:         0px 0px 2px 0px rgba(68,68,68,0.5);
      }
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
      -webkit-transition: background-color 0.25s ease-in-out;
      transition: background-color 0.25s ease-in-out;
    }
  }
}

.CC {
  background:$projectButtonBg url('../images/project_icon_CC.svg')  50% 50% no-repeat;
}
.DD {
  background:$projectButtonBg url('../images/project_icon_DD.svg')  50% 50% no-repeat;
}
.EE {
  background:$projectButtonBg url('../images/project_icon_EE.svg')  50% 50% no-repeat;
}
.OL {
  background:$projectButtonBg url('../images/project_icon_OL.svg')  50% 50% no-repeat;
}
.NG {
  background:$projectButtonBg url('../images/project_icon_NG.svg')  50% 50% no-repeat;
}

@import 'modal';